$image_size: 120px;
$button_size: 170px;

.rest-button {
    border: transparent;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover {
        opacity: 1;
    }

    .rest-btn-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
        color: #FFFFFF;
        width: $button_size;
    }

    .rest-img-wrapper {
        position: relative;
        margin-bottom: 8px;
        height: $button_size;
        width: $button_size;

        img {
            padding: 25px;

            &.res-img-gmail {
                margin-top: 20px;
            }

            &.res-img-netflix {
                margin-top: 10px;
            }

            &.res-img-linkdin {
                margin-top: -10px;
            }
        }
    }

    &.rest-selected {
        opacity: 1;
        position: relative;

        .rest-btn-overlay {
            background: #FF0000;
            border-radius: 50%;
            mix-blend-mode: difference;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}