.summary-statistics-main-container {
    position: absolute;
    width: 100%;
    padding: 80px 72px;
    box-sizing: border-box;

    .header-main img {
        transform: rotate(0deg);
    }

    //.header-main img {
    //    transform: rotate(0deg);
    //}

    .summary-name {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 56px;
        text-align: left;
        letter-spacing: 0.22em;
        color: #FFFFFF;
    }

    .summary-main {
        opacity: 0;
        transition: all 1.2s ease-in-out;

        &.display-main {
            opacity: 1;
        }

        .summary-statistics-flow,
        .summary-statistics-character,
        .summary-statistics-menu {
            display: none;
        }

        &.display-stage-main {
            .summary-statistics-menu {
                display: block;
                animation-name: opacityEffect;
                animation-duration: 2s;
            }
        }
        &.display-stage-char {
            .summary-statistics-character {
                display: block;
                animation-name: opacityEffect;
                animation-duration: 2s;
            }
        }
        &.display-stage-flow {
            .summary-statistics-flow {
                display: block;
                animation-name: opacityEffect;
                animation-duration: 2s;
            }
        }
    }
}

@keyframes opacityEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}
