.believe {
    min-height: 100vh;

    .do-you-believe {
        font-weight: 500;
        font-size: 74px;
        text-align: center;
        letter-spacing: 0.05em;
        font-style: normal;
        padding-top: 40vh;
        color: #FFFFFF;
    }

}