.believe {
    min-height: 100vh;

    .do-you-believe {
        font-weight: 500;
        font-size: 74px;
        text-align: center;
        letter-spacing: 0.05em;
        font-style: normal;
        padding-top: 40vh;
        color: #FFFFFF;
    }

    .do-you-believe-answer {
        margin: auto;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        position: absolute;

        .answers-divider,
        button {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 64px;
            letter-spacing: 0.05em;
            background: transparent;
            border: none;
            color: #FFFFFF;
            padding: 20px;
            outline:none;

            &:hover {
                cursor: pointer;
            }
        }
    }

}