.believe {
    .believe-title {
        padding-bottom: 300px;
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 126px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        word-spacing: 100vw;
        opacity: 0.87;
    }

    .believe-buttons-wrapper {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.7s ease-in-out;

        button {
            width: 48%;
            height: 140px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            color: #FFFFFF;
            padding-top: 0;
            padding-bottom: 0;
            border: 2px solid #FF0000;
            box-sizing: border-box;

            &.btn-selected {
                background-color: #FF0000 !important;
            }

            &:hover {
               background-color: rgba(255, 0, 0, 0.2);
            }

            &.believe-button-yes {
                border-radius: 100px 0 0 100px;
            }

            &.believe-button-no {
                border-radius: 0 100px 100px 0;
            }
        }

        &.show-buttons {
            opacity: 1;
        }
    }
}