.camera-container {
    width: 100vw;
    height: 100vh;
    position: relative;

    .camera-test {
        box-sizing: border-box;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        //width: 100vw;
        //height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        video {
            filter: grayscale(100%);
            box-sizing: border-box;
            opacity: 0.5;
        }
    }

    .camera-header-container {
        position: absolute;
        width: 100%;
        z-index: 3;

        .header-line {
            padding: 80px;
            width: 100%;
            box-sizing: border-box;
        }
    }

    .detected-data {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        color: #FF0000;
        letter-spacing: 0.02em;

        position: absolute;
        width: 100%;
        box-sizing: border-box;
        padding: 80px;
        top: 80px;
    }

    .camera-footer-container {
        position: absolute;
        top: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .camera-next-btn-container {
            margin-top: 80px;
            display: inline-flex;
            justify-content: center;

            button {
                border: none;
                width: 140px;
                height: 140px;

                &:hover {
                    circle {
                        opacity: 1;
                    }
                }
            }
        }

        .camera-next-text {
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 60px;
            color: #FF0000;
            text-align: center;
            letter-spacing: 0.02em;
            padding-top: 200px;
        }

        .camera-text-smile {
            margin-top: 160px;
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 48px;
            letter-spacing: 0.02em;
            color: #FF0000;
            opacity: 0.6;
            box-sizing: border-box;
            padding-left: 80px;
        }
        .camera-scan {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 60px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.87;
        }

        .camera-scan-details {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 150%;
            text-align: center;
            color: #FF0000;
            opacity: 0.6;
        }
    }
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.camera-overlay {
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    mix-blend-mode: difference;
    background-color: white;
    pointer-events: none;
    z-index: 1;
    transition: all 3s ease-in-out;

    &.take-img {
        height: 100%;
    }
}