.camera-container {
    width: 100vw;
    height: 100vh;
    position: relative;

    .camera-test {
        box-sizing: border-box;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        //width: 100vw;
        //height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        video {
            filter: grayscale(100%);
            box-sizing: border-box;
        }
    }

    .camera-header-container {
        position: absolute;
        width: 100%;
        z-index: 3;

        .header-line {
            padding: 80px;
            width: 100%;
            box-sizing: border-box;
        }
    }

    .detected-data {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        color: #FF0000;
        letter-spacing: 0.02em;

        position: absolute;
        width: 100%;
        box-sizing: border-box;
        padding: 80px;
        top: 80px;
    }

    .camera-footer-container {
        position: absolute;
        top: 1300px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        button {
            border: none;

            img {
                width: 264px;
                height: 264px;
            }
        }

        .camera-next-text {
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 60px;
            color: #FF0000;
            text-align: center;
            letter-spacing: 0.02em;
            padding-top: 200px;
        }

        .camera-text-smile {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.02em;
            color: #FF0000;
            box-sizing: border-box;
            padding-left: 80px;
        }
    }
}

body {
    //margin: 0;
    //padding: 0;
    //width: 100vw;
    //height: 100vh;
    //display: flex;
    //justify-content: center;
    //align-items: center;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.camera-overlay {
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    mix-blend-mode: difference;
    background-color: red;
    pointer-events: none;
    z-index: 1;
    transition: all 3s ease-in-out;

    &.take-img {
        height: 100%;
    }
}