$image_size: 170px;

.idol-button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    border: none;

    .idol-img-container {
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        box-sizing: border-box;
        width: $image_size;
        height: $image_size;

        img {
            opacity: 0;
        }

        .idol-image-overlay,
        img {
            border-radius: 50%;
            width: $image_size;
            height: $image_size;
        }
    }

    .idol-btn-title {
        width: 100%;
        margin-top: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    &.idol-selected,
    &:hover {
        .idol-img-container {
            border: 1px solid transparent;

            img {
                opacity: 1;
                transition: all 0.7s ease-in-out;
            }

        }
    }

    &.idol-button-no-image {
        &.idol-selected {
            .idol-img-container {
                background-color: #ff0000 !important;

                &.idol-img-container-father {
                    background-color: #00FFFF !important;
                }
            }
        }
        &:hover {
            .idol-img-container {
                background-color: white;
            }
        }
    }
}