.component-folder-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url('../../localAssets/texture.png');
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: 1;
    opacity: 0.6;
}