.steal {
    .steal-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 80px;
        opacity: 0.87;
    }

    .steal-buttons-wrapper {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.7s ease-in-out;

        button {
            width: 48%;
            height: 140px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            color: #FFFFFF;
            padding-top: 0;
            padding-bottom: 0;
            border: 2px solid #FF0000;
            box-sizing: border-box;

            &.btn-selected {
                background-color: #FF0000 !important;
            }

            &:hover {
                background-color: rgba(255, 0, 0, 0.2);
            }

            &.steal-button-back {
                border-radius: 100px 0 0 100px;
            }

            &.steal-button-take {
                border-radius: 0 100px 100px 0;
            }
        }

        &.show-buttons {
            opacity: 1;
        }

    }

    .main-image {
        width: 100%;
        display: inline-flex;
        opacity: 0;
        transition: all 0.7s ease-in-out;
        margin-bottom: 208px;
        justify-content: center;
        position: relative;
        z-index: 1;

        &.show-image {
            opacity: 1;
        }

        img {
            opacity: 0.5;
        }

        &.selected-take,
        &.position-take {
            img {
                opacity: 0.2;
            }
        }

        &.selected-back,
        &.position-back {
            img {
                opacity: 0.7;
            }
        }
    }
}

.steal-selection-wrapper {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    display: inline-flex;
    mix-blend-mode: difference;
    background-color: #FF0000;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    &.steal-selection-take {
        width: 0;
    }

    &.steal-selection-back {
        width: 100%;
    }

    //.steal-selection {
    //    width: 100%;
    //    height: 100%;
    //    pointer-events: none;
    //
    //
    //    &:hover {
    //        background-color: #FF0000;
    //        mix-blend-mode: difference;
    //    }
    //}

}