.summary-statistics-container {
    width: 100vw;
    height: 100vh;
    position: relative;

    .summary-camera {
        box-sizing: border-box;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        video {
            filter: grayscale(100%);
            opacity: 0.3;
            box-sizing: border-box;
        }

        &.camera-blur {
            video {
                filter: grayscale(100%) blur(16px);
            }
        }
    }

    .main-container {
        display: none;

        &.display-main {
            display: block;
        }
    }
}

.summary-improve-data-btn {
    position: absolute;
    top: calc(50% + 94px);
    right: 10%;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

//.summary-tv-overlay-improve,
//.summary-tv-overlay-preserve {
//    opacity: 0.1;
//}
//
//.summary-tv-overlay-main {
//    opacity: 0.1;
//}
