$bottom: 80px;

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@keyframes move_wave_reverse {
    0% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
}

.waves {
    .waveWrapper {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: $bottom;
        top: 0;
        margin: auto;
        pointer-events: none;
    }

    .bgTop {
        z-index: 15;
        opacity: 0.5;
    }
    .bgMiddle {
        z-index: 10;
        opacity: 0.75;
    }
    .wave {
        position: absolute;
        left: 0;
        width: 200%;
        height: 100%;
        background-repeat: repeat no-repeat;
        background-position: 0 bottom;
        transform-origin: center bottom;
    }
    .waveAnimation {
        .waveTop {
            background-size: 50% 100px;
            background-image: url('../../../localAssets/wave-bot1.png');
            animation: move_wave 17s linear infinite;
        }
        .waveMiddle {
            background-size: 50% 120px;
            background-image: url('../../../localAssets/wave-bot1.png');
            animation: move_wave_reverse 5s linear infinite;
        }
        .waveBottom {
            background-size: 50% 100px;
            background-image: url('../../../localAssets/wave-bot1.png');
            animation: move_wave 7s linear infinite;
        }

    }

    .waves-overlay {
        width: 100%;
        height: 150px;
        background: red;
        position: absolute;
        right: 0;
        bottom: $bottom;
        mix-blend-mode: soft-light;
    }
}