.scan-page {
    header {
        display: inline-flex;
        width: 100%;
        padding-top: 72px;

        .header-logo img {
            margin-left: 72px;
        }
    }

    .scan-username {
        position: absolute;
        top: 10vh;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin-left: 25vh;
        margin-top: 30vh;

        .scan-page-welcome {
            font-size: 36px;
        }

        .scan-page-welcome-user {
            font-size: 96px;
        }

    }

    .welcome-image {
        display: inline-flex;
        justify-content: center;
        width: 100%;

        img {
            height: 800px;
            position: absolute;
            mix-blend-mode: multiply;
        }

        .welcome-image-text {
            font-family: Montserrat;
            color: black;
            width: 600px;
            height: 800px;
            overflow: hidden;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;

            &.text-white {
                color: #C4C4C4;
                animation: fadein 2s;
            }
        }
    }
}

//// Typist!!
//.Typist .Cursor {
//    display: inline-block; }
//.Typist .Cursor--blinking {
//    opacity: 1;
//    animation: blink 1s linear infinite;
//    color: #ff0000;
//}
//
//@keyframes fadein {
//    from { color: black; }
//    to   { color: #C4C4C4; }
//}
//
//@keyframes blink {
//    0% {
//        opacity: 1; }
//    50% {
//        opacity: 0; }
//    100% {
//        opacity: 1; }
//}
//
