.worship-img-container {
    display: block;
    margin: auto;

    &.worship-btn-instagram {
        img {
            width: 830px;
        }
    }

    &.worship-btn-twitter {
        img {
            width: 764px;
        }
    }
    &.worship-btn-facebook {
        width: 1080px;
        margin-top: 0;
    }
}