.worship-img-container {
    display: block;
    margin: auto;

    &.worship-btn-instagram {
        height: 574px;
    }

    &.worship-btn-twitter {
        height: 754px;
        width: 764px;
    }
    &.worship-btn-facebook {
        width: 1080px;
        margin-top: -170px;
    }
}