.rest {
    .rest-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .rest-btn-wrapper {
        opacity: 0;
        display: grid;
        margin-top: 120px;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;
        width: 100%;

        &.show-buttons {
            opacity: 1;
        }
    }

}