.worship {
    min-height: 100vh;

    .worship-buttons-wrapper {
        margin-top: 180px;
        width: 100%;
        display: inline-flex;
        justify-content: center;

        .worship-buttons {
            .instagram-btn {
                padding-right: 68px;
                padding-left: 8px;
            }
        }
    }
}
