.worship {

    .worship-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 120%;
        color: #FFFFFF;
        padding-bottom: 80px;
    }

    .worship-buttons-wrapper {
        width: calc(100% + 160px);
        margin-left: -80px;
        opacity: 0;

        &.show-buttons {
            opacity: 1;
        }
    }
}
