.base-component.worship {
    padding-right: 0;
    padding-left: 0;

    header {
        padding-right: 72px;
        padding-left: 72px;
    }

    footer {
        padding-right: 72px;
        padding-left: 72px;
    }

    .worship-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 150%;
        color: #FFFFFF;
        padding: 0 72px 54px 72px;
    }

    .worship-buttons-wrapper {
        opacity: 0;

        &.show-buttons {
            opacity: 1;
        }

        button img {
            width: 100%;

            &.img-next {
                transform: scaleX(-1);
            }
        }

        .carousel-slider {
            display: inline-flex;
        }

        .worship-buttons-container {
            padding: 0 160px;
        }
    }

    .carousel .slide {
        background: transparent;
    }

    .btn-next,
    .btn-prev {
        padding: 0;
    }
}
