.going-to {
    video {
        opacity: 0.4;
    }

    .going-to-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 120%;
        color: red;
        margin-bottom: 40px;
        display: inline-flex;
        justify-content: center;
        margin-left: 136px;
        margin-top: 50%;
    }

    .going-buttons-wrapper {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        opacity: 0;
        transition: all 0.7s ease-in-out;

        .going-button-enter {
            width: 440px;
            border: 8px solid white;
            font-size: 48px;
            background-color: white;

            &:hover {
                background-color: transparent !important;
            }
            //

            //&.selected {
            //    background-color: white !important;
            //}
            //&:hover {
            //    background-color: rgba(255, 255, 255, 0.2);
            //}
        }

        &.show-buttons {
            opacity: 1;
        }
    }

    .heaven-button-wrapper {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 50%;
        pointer-events: none;

        .round-button.going-button-heaven  {
            transition: all 0.7s ease-in-out;
            border: 8px solid red;
            width: 630px;
            opacity: 0;

            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 80px;
            color: #FFFFFF;

            &.show-btn {
                opacity: 1;
            }

            img {
                margin-left: -140px;
                margin-top: -4px;
            }
        }
    }
}

.going-to-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #FF0000;
    mix-blend-mode: difference;
    pointer-events: none;
}