$color: #FF0000;

.header-line {

    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    button:hover {
        opacity: 0.8;
    }

    button {
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0.02em;
        color: $color;
        border: none;
        padding: 0 0 8px 0;
    }
}