//$cursor: url('./localAssets/cursorSvg.svg') 40 40, default !important;
$cursor: none !important;
html { font-family: 'Roboto', sans-serif; }

body > div {
    background-color: black;
    //width: 1080px;
    //height: 1920px;
}

div {
    cursor: $cursor;
    user-select: none;
}

.sol-e {
    min-height: 100vh;
    position: relative;
    cursor: $cursor;

    .base-component {
        height: 100%;
    }

    button {
        outline: none;
        background-color: transparent;

        &:hover {
            cursor: $cursor;
        }
    }

    .bg-color-black {
        background-color: #000000;
    }
}

// Typist!!
.Typist .Cursor {
    display: inline-block; }
.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; }
}