html { font-family: 'Roboto', sans-serif; }

.sol-e {
    height: 100vmax;
    position: relative;

    .base-component {
        height: 100%;
    }

    button {
        outline: none;
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }
    }

    .bg-color-black {
        background-color: #000000;
    }

}