.summary-personal-container {
    display: inline-flex;
    margin-bottom: 20px;
    margin-top: 80px;

    img {
        box-sizing: border-box;
        border-radius: 250px 250px 0 0;
        opacity: 0.7;
        width: 100%;
        height: 100%;
    }

    .summary-data {
        padding-left: 40px;
        font-size: 40px;
        color: #FFFFFF;

        .summary-data-wrapper {
            padding-bottom: 18px;

            .summary-header-data {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
                flex: none;
                order: 1;
                align-self: center;
                margin: 0 25px;
            }

            .summary-header {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                display: flex;
                align-items: center;
                color: #FF0000;
                opacity: 0.5;
                flex: none;
                order: 0;
                align-self: center;
                margin: 0 25px;
                padding-bottom: 2px;
            }
        }
    }
    .placeholder-img {
        filter: grayscale(1);
    }

    .summary-personal-image-container {
        position: relative;
        border-radius: 250px 250px 0 0;
        border: 2px solid rgba(255,255,255, 0.3);
        width: 320px;
        height: 448px;

        &:hover {
            border: 2px solid red;
        }

        .summary-angel-gif {
            opacity: 1;
            margin-top: 0;
            z-index: 9999;
        }
    }
}

.summary-name {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 56px;
    text-align: left;
    letter-spacing: 0.22em;
    color: #FFFFFF;
    margin-top: 24px;

    .is-angel {
        color:#FF0000;
        opacity: 1;
    }
}


